lua/*.userdb/
lua/*.userdb/
dist
pro-*-fuzhu-dicts
release_notes.md

/wanxiang.userdb/
/sync/
*.userdb/
/build/
installation.yaml
user.yaml
wanxiang-lts-zh-hans.gram
*.custom.yaml
!others/**/*.custom.yaml
